src/main/resources/br/jus/trf2/balcaojus/mniwsdl0.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://www.cnj.jus.br"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://www.cnj.jus.br" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.cnj.jus.br/Imports">
			<xsd:import
				schemaLocation="http://localhost:8080/balcaojus/api/v1/recurso/mnixsd0.xml"
				namespace="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" />
			<xsd:import
				schemaLocation="http://localhost:8080/balcaojus/api/v1/recurso/mnixsd1.xml"
				namespace="http://www.cnj.jus.br/tipos-servico-intercomunicacao-2.2.2" />
			<xsd:import
				schemaLocation="http://localhost:8080/balcaojus/api/v1/recurso/mnixsd2.xml"
				namespace="http://www.cnj.jus.br/intercomunicacao-2.2.2" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="consultarProcessoRequest">
		<wsdl:part name="parameters" element="q1:consultarProcesso"
			xmlns:q1="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" />
	</wsdl:message>
	<wsdl:message name="consultarProcessoResponse">
		<wsdl:part name="parameters" element="q2:consultarProcessoResposta"
			xmlns:q2="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" />
	</wsdl:message>
	<wsdl:message name="consultarTeorComunicacaoRequest">
		<wsdl:part name="parameters" element="q3:consultarTeorComunicacao"
			xmlns:q3="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" />
	</wsdl:message>
	<wsdl:message name="consultarTeorComunicacaoResponse">
		<wsdl:part name="parameters" element="q4:consultarTeorComunicacaoResposta"
			xmlns:q4="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" />
	</wsdl:message>
	<wsdl:message name="entregarManifestacaoProcessualRequest">
		<wsdl:part name="parameters" element="q5:entregarManifestacaoProcessual"
			xmlns:q5="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" />
	</wsdl:message>
	<wsdl:message name="entregarManifestacaoProcessualResponse">
		<wsdl:part name="parameters" element="q6:entregarManifestacaoProcessualResposta"
			xmlns:q6="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" />
	</wsdl:message>
	<wsdl:message name="consultarAvisosPendentesRequest">
		<wsdl:part name="parameters" element="q7:consultarAvisosPendentes"
			xmlns:q7="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" />
	</wsdl:message>
	<wsdl:message name="consultarAvisosPendentesResponse">
		<wsdl:part name="parameters" element="q8:consultarAvisosPendentesResposta"
			xmlns:q8="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" />
	</wsdl:message>
	<wsdl:message name="consultarAlteracaoRequest">
		<wsdl:part name="parameters" element="q9:consultarAlteracao"
			xmlns:q9="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" />
	</wsdl:message>
	<wsdl:message name="consultarAlteracaoResponse">
		<wsdl:part name="parameters" element="q10:consultarAlteracaoResposta"
			xmlns:q10="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" />
	</wsdl:message>
	<wsdl:message name="confirmarRecebimentoRequest">
		<wsdl:part name="parameters" element="q11:confirmarRecebimento"
			xmlns:q11="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" />
	</wsdl:message>
	<wsdl:message name="confirmarRecebimentoResponse">
		<wsdl:part name="parameters" element="q12:confirmarRecebimentoResposta"
			xmlns:q12="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/" />
	</wsdl:message>
	<wsdl:portType name="servico-intercomunicacao-2.2.2">
		<wsdl:operation name="consultarProcesso">
			<wsdl:input
				wsaw:Action="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/consultarProcesso"
				name="consultarProcessoRequest" message="tns:consultarProcessoRequest" />
			<wsdl:output
				wsaw:Action="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/consultarProcessoResponse"
				name="consultarProcessoResponse" message="tns:consultarProcessoResponse" />
		</wsdl:operation>
		<wsdl:operation name="consultarTeorComunicacao">
			<wsdl:input
				wsaw:Action="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/consultarTeorComunicacao"
				name="consultarTeorComunicacaoRequest" message="tns:consultarTeorComunicacaoRequest" />
			<wsdl:output
				wsaw:Action="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/consultarTeorComunicacaoResponse"
				name="consultarTeorComunicacaoResponse" message="tns:consultarTeorComunicacaoResponse" />
		</wsdl:operation>
		<wsdl:operation name="entregarManifestacaoProcessual">
			<wsdl:input
				wsaw:Action="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/entregarManifestacaoProcessual"
				name="entregarManifestacaoProcessualRequest" message="tns:entregarManifestacaoProcessualRequest" />
			<wsdl:output
				wsaw:Action="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/entregarManifestacaoProcessualResponse"
				name="entregarManifestacaoProcessualResponse" message="tns:entregarManifestacaoProcessualResponse" />
		</wsdl:operation>
		<wsdl:operation name="consultarAvisosPendentes">
			<wsdl:input
				wsaw:Action="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/consultarAvisosPendentes"
				name="consultarAvisosPendentesRequest" message="tns:consultarAvisosPendentesRequest" />
			<wsdl:output
				wsaw:Action="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/consultarAvisosPendentesResponse"
				name="consultarAvisosPendentesResponse" message="tns:consultarAvisosPendentesResponse" />
		</wsdl:operation>
		<wsdl:operation name="consultarAlteracao">
			<wsdl:input
				wsaw:Action="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/consultarAlteracao"
				name="consultarAlteracaoRequest" message="tns:consultarAlteracaoRequest" />
			<wsdl:output
				wsaw:Action="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/consultarAlteracaoResponse"
				name="consultarAlteracaoResponse" message="tns:consultarAlteracaoResponse" />
		</wsdl:operation>
		<wsdl:operation name="confirmarRecebimento">
			<wsdl:input
				wsaw:Action="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/confirmarRecebimento"
				name="confirmarRecebimentoRequest" message="tns:confirmarRecebimentoRequest" />
			<wsdl:output
				wsaw:Action="http://www.cnj.jus.br/servico-intercomunicacao-2.2.2/confirmarRecebimentoResponse"
				name="confirmarRecebimentoResponse" message="tns:confirmarRecebimentoResponse" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>