src/main/resources/br/jus/trf2/balcaojus/mnixsd1.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
	targetNamespace="http://www.cnj.jus.br/tipos-servico-intercomunicacao-2.2.2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.cnj.jus.br/tipos-servico-intercomunicacao-2.2.2">
	<xs:import
		schemaLocation="http://localhost:8080/balcaojus/api/v1/recurso/mnixsd2.xml"
		namespace="http://www.cnj.jus.br/intercomunicacao-2.2.2" />
	<xs:element name="idConsultante" type="xs:string" />
	<xs:element name="senhaConsultante" type="xs:string" />
	<xs:element name="numeroProcesso" type="xs:string" />
	<xs:element name="dataReferencia" type="xs:string" />
	<xs:element default="false" name="movimentos" type="xs:boolean" />
	<xs:element default="false" name="incluirCabecalho" type="xs:boolean" />
	<xs:element default="false" name="incluirDocumentos" type="xs:boolean" />
	<xs:element name="documento1" nillable="true" type="xs:string" />
	<xs:element name="sucesso" type="xs:boolean" />
	<xs:element name="mensagem" type="xs:string" />
	<xs:element name="processo" type="q1:tipoProcessoJudicial"
		xmlns:q1="http://www.cnj.jus.br/intercomunicacao-2.2.2" />
	<xs:element name="identificadorAviso" nillable="true" type="xs:string" />
	<xs:element name="comunicacao" nillable="true"
		type="q2:tipoComunicacaoProcessual" xmlns:q2="http://www.cnj.jus.br/intercomunicacao-2.2.2" />
	<xs:element name="idManifestante" type="xs:string" />
	<xs:element name="senhaManifestante" type="xs:string" />
	<xs:element name="dadosBasicos" type="q3:tipoCabecalhoProcesso"
		xmlns:q3="http://www.cnj.jus.br/intercomunicacao-2.2.2" />
	<xs:element name="documento" type="q4:tipoDocumento"
		xmlns:q4="http://www.cnj.jus.br/intercomunicacao-2.2.2" />
	<xs:element name="dataEnvio" type="xs:string" />
	<xs:element name="parametros" nillable="true" type="q5:tipoParametro"
		xmlns:q5="http://www.cnj.jus.br/intercomunicacao-2.2.2" />
	<xs:element name="protocoloRecebimento" type="xs:string" />
	<xs:element name="dataOperacao" type="xs:string" />
	<xs:element name="recibo" type="xs:base64Binary" />
	<xs:element name="parametro" nillable="true" type="q6:tipoParametro"
		xmlns:q6="http://www.cnj.jus.br/intercomunicacao-2.2.2" />
	<xs:element name="idRepresentado" type="xs:string" />
	<xs:element name="aviso" nillable="true"
		type="q7:tipoAvisoComunicacaoPendente" xmlns:q7="http://www.cnj.jus.br/intercomunicacao-2.2.2" />
	<xs:element name="hashCabecalho" type="xs:string" />
	<xs:element name="hashMovimentacoes" type="xs:string" />
	<xs:element name="hashDocumentos" type="xs:string" />
	<xs:element name="idRecebedor" type="xs:string" />
	<xs:element name="senhaRecebedor" type="xs:string" />
	<xs:element name="protocolo" type="xs:string" />
</xs:schema>